
body{
    font-family: Helvetica, sans-serif;
}

html {
    font-family: Helvetica, sans-serif;
}

nav{
    display: inline-block;
    border-bottom: 2px solid black;
    width: 100%;
}

nav h2{
    display: inline-block;
}

nav ul{
    display: inline-block;
    margin-left: 100px;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    color: green;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}